/* You can add global styles to this file, and also import other style files */
.sidebar{
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

app-list-item{
    margin: 0px;
    width: 100%;
}

body, html{
    margin: 0;
    overflow: hidden;
    height: 100%;
}

agm-map{
    overflow-y: scroll;
    height: 100%;
}

.mainView{
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

app-image-viewer{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.offlineMap{
    overflow-y: scroll;
    height: 100%;
}
