<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
<button button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed">
    {{item.label}}
    <i class="fab fa-500px"></i>
</button>
<i class="fab fa-500px"></i>

<!--Children-->
<app-list-item *ngFor="let item of item.children" [item]="item" [ngbCollapse]="isCollapsed">
    {{item.label}}
</app-list-item>
