<button class="btn btn btn-block" [class.btn-primary]="item.level==0" [class.btn-dark]="item.level==1" [class.btn-light]="item.level==2" (click)="onItemClick();">
    <i class="fa {{item.icon}} fa-lg fa-pull-left"></i>
    <label ngButtonLabel>
        {{item.label}}
    </label>
    <i class="fa fa-caret-right fa-lg pull-right" [class.fa-rotate-90]="!isCollapsed" *ngIf="item.children"></i>
</button>


<!--Children-->
<app-list-item *ngFor="let item of item.children" [item]="item" [ngbCollapse]="isCollapsed" >
    {{item.label}}
</app-list-item>
